.customers {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
    }

    &__link {
        display: block;
        padding: 16px 50px;
        border-radius: 4px;
        border: 1px solid #AFB1B8;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            padding: 16px 58px;
        }

        @media screen and (min-width: 1200px) {
            padding: 16px 32px;
        }
    }

    &__icon {
        fill: #AFB1B8;
        width: 106px;
        height: 60px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover &__icon {
        fill: $classic-color;
    }

    &__link:hover {
        border: 1px solid $classic-color;
    }

    &__link:focus &__icon {
        fill: $classic-color;
    }

    &__link:focus {
        border: 1px solid $classic-color;
    }

    &__title {
        @include titles($size: 28px);
        text-align: center;
        font-family: Roboto;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-bottom: 30px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            @include titles();
        }
    }
}