.details {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }

    &__title {
        @include titles($size: 14px, $height: 1.14);
        margin: 30px 0 10px 0;
        margin-bottom: 10px;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: start;
        }
    }


    &__discription {
        text-align: center;
        color: $text-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;

        @media screen and (min-width: 480px) {
            text-align: start;
        }
    }

    &__svg {
        top: 25px;
        left: 110px;
        position: absolute;
        width: 70px;
        height: 70px;

        @media screen and (min-width: 480px) {
            top: 25px;
            left: 190px;
        }

        @media screen and (min-width: 768px) {
            left: 142px;
        }

        @media screen and (min-width: 1200px) {
            left: 100px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {

        @media screen and (min-width: 768px) {
            width: 450px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__item::before {
        position: relative;
        display: block;
        background-color: #F5F4FA;
        height: 120px;
        border-radius: 4px;
        content: "";

        @media screen and (min-width: 768px) {
            width: 450px;
            height: 120px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 120px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 120px;
        }
    }

}