.details {
    padding: 94px 0;

    &__title {
        @include titles($size: 14px, $height: 1.14);
        margin: 30px 0 10px 0;
        margin-bottom: 10px;
    }
    
    
    &__discription {
        color: $text-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }
    
    &__item::before {
        display: block;
        background-image: url(../img/antena.png);
        width: 270px;
        height: 120px;
        border-radius: 4px;
        content: "";
    }
    
    &__item1::before {
        display: block;
        background-image: url(../img/clock.png);
        width: 270px;
        height: 120px;
        border-radius: 4px;
        content: "";
    }
    
    &__item2::before {
        display: block;
        background-image: url(../img/service-computer.png);
        width: 270px;
        height: 120px;
        border-radius: 4px;
        content: "";
    }
    
    &__item3::before {
        display: block;
        background-image: url(../img/astronaut.png);
        width: 270px;
        height: 120px;
        border-radius: 4px;
        content: "";
    }
    
    
    &__list {
        display: flex;
        gap: 30px;
    }
    
}

