.footer {
    padding: 60px 0px;
    background: #2f303a;

    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            padding: 0 61px 0 74px;
            gap: 0;
            flex-direction: row;
        }

        @media screen and (min-width: 1200px) {
            padding: 0 0;
        }
    }

    &__addres-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            margin-right: 165px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 70px;
            margin-bottom: 0;
        }
    }

    &__icon-box {
        margin: 0 auto;

        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__address {
        margin-top: 20px;
        color: $back-color;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
    }

    &__invation {
        text-align: center;
        color: $back-color;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            text-align: center;
        }

        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;

        @media screen and (min-width: 768px) {
            justify-content: center;
        }

        @media screen and (min-width: 1200px) {
            justify-content: start
        }
    }

    &__icons {
        display: flex;
        gap: 10px;
    }

    &__link,
    &__icon {
        display: block;
    }

    &__link {
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.10);
        padding: 12px;
        width: 44px;
        height: 44px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover {
        background: $classic-color;
    }

    &__link:focus {
        background-color: $classic-color;
    }

    &__icon {
        fill: white;
        width: 20px;
        height: 20px;
    }
}

.mail__link {
    margin: 9px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail__link:hover {
    color: $classic-color;
}

.tel__link:hover {
    color: $classic-color;
}

.white__logo {
    color: $back-color;
}


.mailing {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    @media screen and (min-width: 768px) {
        margin: 0 auto;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    &__btn {
        display: flex;
        border-radius: 4px;
        background: $classic-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 10px 28px;
        width: 200px;
        height: 50px;
        margin-top: 36px;
        margin-left: 12px;
        cursor: pointer;
    }



    &__title {
        text-align: center;
        color: $back-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }

    &__input {
        padding: 15px 16px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 358px;
        height: 50px;

        @media screen and (min-width: 320px) {
            width: auto;
        }

        @media screen and (min-width: 480px) {
            width: 358px;
        }
    }

    &__input::placeholder {
        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.48px;
    }

    &__btn-title {
        color: $back-color;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        margin-right: 10px;
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: $back-color;
    }

}