.header {
    height: 80px;

    &__container {
        height: 100%;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 60px;
        height: 100%;

        @media screen and (min-width: 768px) {
            max-height: 80px;
            gap: 88px;
        }
    }

    &__box {
        display: none;
        @extend %flex;
        width: 100%;

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &__menu {
        display: none;
        align-items: center;
        gap: none;

        @media screen and (min-width: 768px) {
            display: flex;
            gap: 50px;
        }
    }

    &__info {
        display: none;
        align-items: center;
        gap: none;
        margin-left: auto;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 8px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }

    &__link {
        display: none;
        align-items: center;

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: $title-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }

    &__text::after {
        top: 45px;
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background: $classic-color;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__text:hover::after {
        opacity: 1;
    }

    &__text:hover {
        color: $classic-color;
    }

    &__text:focus {
        color: $classic-color;
    }

    &__contacts {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: $text-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            font-size: 12px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
    }

    &__icon {
        display: block;
        width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: $text-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            margin-right: 8px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 10px;
        }
    }

    &__icon-2 {
        display: block;
        width: 10px;
        height: 16px;
        margin-right: 10px;
        fill: $text-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            margin-right: 8px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 10px;
        }
    }

    &__link__info:hover &__contacts {
        color: $classic-color;
    }

    &__link__info:hover &__icon {
        fill: $classic-color;
    }

    &__link__info:focus &__contacts {
        color: $classic-color;
    }

    &__link__info:focus &__icon {
        fill: $classic-color;
    }
}

html:hover .your__place::after {
    opacity: 1;
}

html:hover .your__place-text {
    color: $classic-color;
}

.portfolio__header {
    border-bottom: 1px solid #ECECEC;
}

.logo__black {
    color: #000;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

    @media screen and (min-width: 768px) {
        font-size: 24pxs;
    }
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $classic-color;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        justify-content: start;
    }
}

.burger {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 50;
    width: 30px;
    height: 24px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.burger .burger-span {
    height: 2px;
    width: 80%;
    background-color: #000;
    opacity: 1;
    transition: opacity 250ms ease;
}

.burger::before,
.burger::after {
    display: flex;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 250ms ease;
    background-color: #000;
}


.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active .burger-span {
    opacity: 0;
    transition: opacity 250ms ease;
}

.burger.active::before {
    top: 50%;
    justify-content: center;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    justify-content: center;
    bottom: 43%;
    transform: rotate(45deg) translate(0, -50%);
}

.your__place-text {
    color: $title-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}