.portfolio {

    &__img__focus {
        display: block;
        border: 1px solid #EEE;
        background: $back-color;
        width: 450px;
        height: 404px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            width: 370px;
            height: 404px;
        }


        @media screen and (min-width: 1200px) {
            width: 370px;
            height: 404px;
        }
    }

    &__img__focus:hover {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    &__img__focus:focus {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    &__img__vew {
        width: 450px;
        height: 294px;

        @media screen and (min-width: 768px) {
            width: 370px;
            height: 294px;
        }

    }

    &__img__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__title {
        margin-top: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: $title-color;
        margin-left: 24px;
    }

    &__discription {
        margin-bottom: 20px;
        margin-top: 4px;
        font-size: 16px;
        line-height: 1.87;
        color: $text-color;
        margin-left: 24px;
    }

    &__img__focus:hover .overlay {
        transform: translatey(0);
    }

    &__img__focus:focus .overlay {
        transform: translatey(0);
    }

    &__img__box {
        padding-bottom: 94px;
    }
}



.img__overlay {
    position: relative;
    height: 294px;
    overflow: hidden;
}

.overlay {
    padding: 63px 24px;
    top: 0;
    left: 0;
    position: absolute;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.90);
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
}



.overlay__text {
    color: $back-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
}

.img-item {
    width: 450px;
    height: 404px;

    @media screen and (min-width: 768px) {
        width: 354px;
        height: 404px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
        height: 404px;
    }
}